@media (min-width:850px) {
    nav{
        max-width: 1200px;
        margin: 0 auto;
    }

    nav li:first-child{
        flex-basis: auto;
        text-align: left;
        margin-right: auto;
    }
}